.search {
    text-align: center;
    font-size: 20px;
    margin: 15px;
}
.bydate {
    font-size: 15px;
    display: flex;
}
.bydate div {
    flex: 1;
}
.pllogin {
    margin-top: 60%;
}
.tablesearch {
    font-size: 25px;
}
.time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    font-size: 25px;
}
.sales {
    position: absolute;
    bottom: 0;
}
@media(max-width: 450px) {
    .tablesearch {
        font-size: 10px;
    }
}