.App {
  text-align: center;
}
.round {
  position: absolute;
  max-width: 600px;
  max-height: 800px;
  top: 12%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  margin: auto;
  box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.5);
}
.login {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 5px;
  right: 10px;
  box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.5);
  border-radius: 50%;
}
.logout {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 5px;
  right: 10px;
  font-size: 5px;
  box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.5);
  border-radius: 50%;
}
.displaylogin {
  position: fixed;
  top: 30%;
  left: 50%;
  display: flex;
  font-size: 30px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  width: 30%;
  height: 50%;
  padding-top: 5%;
  background-color: white;
  transform: translateX(-50%);
  box-shadow: 0px 0px 20px -3px rgba(52,61,70,0.5);
  z-index: 1;
}
.logclose {
  position: absolute;
  font-size: 40px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.tostore {
  font-size: 15px;
}
@media(max-width: 600px) {
  .displaylogin {
    min-width: 200px;
    top: 20%;
    padding-top: 10%;
    height: 67%;
    width: 90%;
  }
}